.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 1rem;
}

.form input {
  height: 2.86rem;
  margin-bottom: 4px;
  padding-left: 1rem;
  border: 1px solid var(--VeryDarkBlue);
  border-radius: 5px;

  transition: .3s;
}

.form input:hover,
.form input:focus {
  border: 1px solid var(--BrightBlue);
}

.form input:invalid {
  border: 1px solid var(--LightRed);  
}

.form button {
  cursor: pointer;

  height: 2.86rem;
  margin-top: .85rem;
  border: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px var(--BoxShadow);

  font-size: 0.86rem;
  font-weight: 700;

  color: var(--White);
  background-color: var(--BrightBlue);

  transition: .3s;
}

.form button:hover,
.form button:focus {
  background-color: hsl(224, 93%, 58%, 65%);
}

.error {
  text-align: start;

  padding-left: 4px;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.86rem;

  color: var(--LightRed);
}

.form .customError {
  color: var(--White);
}

.form .customInput {
  border: 1px solid transparent;
  border-radius: 4px;
}

.form .customButton {
  border-radius: 4px;
  box-shadow: none;
}

@media screen and (min-width:1024px) {
  .form {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;

    width: 80%;
    padding-inline: 0;
  }

  .form input {
    width: 60%;
    margin-right: 1rem;
  }

  .form button {
    width: 40%;
    margin-top: 0;
  }

  .error {
    position: absolute;

    bottom: -20px;
  }

  .customForm {
    flex-direction: column;

    width: 100%;
  }

  .form .customInput {
    width: 100%;
    margin-right: 0;
  }

  .form .customButton {
    width: 50%;
    margin-top: .85rem;
  }

  .form .customError {
    position: static;

    color: var(--White);
  }
}