.container {
  width: 100%;
  max-width: 375px;
  min-width: 320px;
}

/* TABLET RESPONSIVE */

@media screen and (min-width: 768px){
  .container {
    max-width: 768px;
  }  
}

/* DESKTOP RESPONSIVE */

@media screen and (min-width: 1024px){
  .container {
    max-width: 1440px;
  }  
}