:root {
  font-size: 87.5%;  /* Tamanho base da página (base page size) = 14px */

  /* Cores (Colors) */

  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);

  --White: hsl(0, 0%, 100%);
  --BoxShadow: hsl(0, 0%, 86%);
  --LightRed: hsl(0, 100%, 63%);
}

* {
  box-sizing: border-box;
  outline: transparent;

  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--VeryDarkBlue);
  background-color: var(--White);
}

#root {
  display: contents;
}

body, button, input {
  font-family: "Raleway", sans-serif;
}

p, a {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 768px){
  :root {
    font-size: 100%; /* Tamanho base da página (base page size) = 16px */
  }
}